*.swp
*.o
neuro
Neuro
test_Neuro
*.output
*.dot
*.png
/build
*.txt
*.ll
*.exe
*.pdb
/Debug
/Release
/vs_build
/vs_release_build
callgrind.out.*
test/*.nro
test/*.h
test/*.c
test/*.out
test/*.s
test/__pycache__
test/configs/__pycache__
